---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Career from '../components/Career.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Enderson Montaña - Portafolio de Desarrollo Web">
  <Header />
  <main>
    <Hero />
    <About />
    <Career />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>